{
	"id": "catalog-beer-example",
	"name": "Example Environment",
	"values": [
		{
			"key": "base_url",
			"value": "api-staging.catalog.beer",
			"type": "default",
			"enabled": true
		},
		{
			"key": "api_key",
			"value": "YOUR_API_KEY_HERE",
			"type": "secret",
			"enabled": true
		}
	]
}
